&CONTROL
    calculation    = '{{ p.calculation }}',
    prefix         = '{{ wf.prefix }}',
    pseudo_dir     = './pseudo',
    outdir         = '{{ unit.outdir }}',
{%- if p.calculation == 'vc-relax' %}
    wfcdir         = '{{ unit.outdir }}',
    wf_collect     = .false.,
{%- endif %}
    restart_mode   = '{{ p.restartMode | default("from_scratch") }}',
    verbosity      = '{{ p.verbosity | default('high') }}',
{%- if p.nstep %}
    nstep          = {{ p.nstep }},
{%- endif %}
    tstress        = {{ p.tstress | qe_bool }},
    tprnfor        = {{ p.tprnfor | qe_bool }},
{%- if p.tefield %}
    tefield        = .true.,
{%- endif %}
{%- if p.dipfield %}
    dipfield       = .true.,
{%- endif %}
{%- if p.calculation in ['relax', 'vc-relax'] %}
    etot_conv_thr  = {{ p.etotConvThr | default(1e-6) | qe_sci }},
    forc_conv_thr  = {{ p.forcConvThr | default(4.5e-4) | qe_sci }},
{%- endif %}
/
&SYSTEM
    ibrav       = {{ s.ibrav }},
{%- for idx, val in s.celldm.items() %}
    celldm({{ idx }})   = {{ "%.6f"|format(val) }},
{%- endfor %}
    nat         = {{ s.nat }},
    ntyp        = {{ s.ntyp }},
{%- if p.nbnd %}
    nbnd        = {{ p.nbnd }},
{%- endif %}
    ecutwfc     = {{ wf.ecutwfc }},
    ecutrho     = {{ wf.ecutrho }},
    input_dft   = '{{ wf.functional }}',
    nspin       = {{ p.nspin | default(1) }},
{%- if p.occupations %}
    occupations = '{{ p.occupations }}',
{%- if p.occupations == 'smearing' %}
    smearing    = '{{ p.smearing | default("gaussian") }}',
    degauss     = {{ p.degauss | default(0.007) }},
{%- endif %}
{%- endif %}
    nosym       = {{ p.nosym | default(false) | qe_bool }},
    noncolin    = .false.,
    lspinorb    = .false.,
{%- if p.totCharge %}
    tot_charge  = {{ p.totCharge }},
{%- endif %}
{%- if p.tefield %}
    edir        = {{ p.edir | default(3) }},
    emaxpos     = {{ p.emaxpos | default(0.5) }},
    eopreg      = {{ p.eopreg | default(0.1) }},
    eamp        = {{ p.eamp | default(0.0) }},
{%- endif %}
{%- if p.vdwCorr %}
    vdw_corr    = '{{ p.vdwCorr }}',
{%- if p.dftd3Version %}
    dftd3_version = {{ p.dftd3Version }},
{%- endif %}
{%- if p.dftd3Threebody is defined and p.dftd3Threebody is not none %}
    dftd3_threebody = {{ p.dftd3Threebody | qe_bool }},
{%- endif %}
{%- endif %}
/
&ELECTRONS
    conv_thr         = {{ p.convThr | qe_sci }},
    mixing_beta      = {{ p.mixingBeta | default(0.2) }},
    diagonalization  = '{{ p.diagonalization | default("david") }}',
    diago_david_ndim = {{ p.diagoDavidNdim | default(8) }},
    mixing_ndim      = {{ p.mixingNdim | default(20) }},
    mixing_mode      = '{{ p.mixingMode | default("plain") }}',
    diago_full_acc   = {{ p.diagoFullAcc | default(false) | qe_bool }},
{%- if p.electronMaxstep %}
    electron_maxstep = {{ p.electronMaxstep }},
{%- endif %}
    startingpot      = '{{ p.startingPot | default('atomic') }}',
    startingwfc      = '{{ p.startingWfc | default('atomic+random') }}',
/
{%- if p.calculation in ['relax', 'vc-relax'] %}
&IONS
    ion_dynamics     = '{{ p.ionDynamics | default("bfgs") }}',
{%- if p.bfgsNdim %}
    bfgs_ndim        = {{ p.bfgsNdim }},
{%- endif %}
    upscale          = {{ p.upscale | default(100) }},
    trust_radius_max = {{ p.trustRadiusMax | default(0.8) }},
/
{%- endif %}
{%- if p.calculation == 'vc-relax' %}
&CELL
    cell_dynamics  = '{{ p.cellDynamics | default("bfgs") }}',
    press          = {{ p.press | default(0.0) }},
    cell_dofree    = '{{ p.cellDofree | default("all") }}',
    press_conv_thr = 0.5,
/
{%- endif %}

ATOMIC_SPECIES
{%- for sp in s.atomicSpecies %}
{{ sp.element }}   {{ sp.mass }}  {{ (wf.pseudoMap or {}).get(sp.element) or sp.pseudoFile }}
{%- endfor %}
{% if s.ibrav == 0 %}
CELL_PARAMETERS angstrom
{%- for row in s.cellParameters %}
  {{ "%.10f"|format(row[0]) }}  {{ "%.10f"|format(row[1]) }}  {{ "%.10f"|format(row[2]) }}
{%- endfor %}
{% endif %}
ATOMIC_POSITIONS {{ '{' }}{{ s.positionsType }}{{ '}' }}
{%- for pos in s.atomicPositions %}
{{ pos.element }}    {{ "%.10f"|format(pos.x) }}   {{ "%.10f"|format(pos.y) }}   {{ "%.10f"|format(pos.z) }}
{%- endfor %}

{% if p.kPoints.type == 'automatic' -%}
K_POINTS {automatic}
{{ p.kPoints.grid[0] }} {{ p.kPoints.grid[1] }} {{ p.kPoints.grid[2] }} {{ p.kPoints.shift[0] }} {{ p.kPoints.shift[1] }} {{ p.kPoints.shift[2] }}
{%- elif p.kPoints.type == 'crystal_b' -%}
K_POINTS {crystal_b}
{{ p.kPoints.path | length }}
{%- for kp in p.kPoints.path %}
  {{ "%.4f"|format(kp.coords[0]) }}  {{ "%.4f"|format(kp.coords[1]) }}  {{ "%.4f"|format(kp.coords[2]) }}  {{ kp.npoints }}  ! {{ kp.label }}
{%- endfor %}
{%- endif %}
{% if wf.hubbard %}
HUBBARD {ortho-atomic}
{%- for h in wf.hubbard %}
   U {{ h.manifold }} {{ h.value }}
{%- endfor %}
{% endif -%}
